<!DOCTYPE html>
{% load static %}
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farmer's Dashboard</title>
    <!-- CSS only -->

  <link href="{% static 'css/index.css' %}" rel="stylesheet">

  <link href="{% static 'css/bootstrap_PD.css' %}" rel="stylesheet">

</head>
<body style="background-image: linear-gradient(to top, #8da3c3, #69b2cb, #54bfbc, #74c698, #adc671);">

  <header class="section-header">
    <section class="header-main border-bottom bg-dark">

        <div class="container-fluid">
            <div class="row p-2 pt-3 pb-3 d-flex align-items-center">
                <div class="col-md-2" > <img src="{% static 'Images/Logo_1.png' %}" width="150"> </div>
                <div class="col-md-8" >
                    <div class="d-flex form-inputs"> <input class="form-control" type="text" placeholder="Search any product..."> <i class="bx bx-search"></i> </div>
                </div>
                <div class="col-md-2">
                    <ul class="navbar-nav d-flex align-items-center">

                          <div class="dropdown">
                          <div>
                            <li class="nav-item">
                                <div class="d-flex flex-row"> <img src="{% static 'Images/profile_image.JPG' %}" class="rounded-circle" width="70" ></div>
                            </li>
                            <li class="nav-item"> <a href="#" class="nav-link d-flex align-items-center" data-abc="true" id="menu1"  data-toggle="dropdown"><span>{{first_name}}</span><i class='bx bxs-chevron-down'></i></a>  </li>
                          </div>
                            <div class="dropdown-content" style="background-color:salmon;">
                                <a href="/add-product">Add Inventory</a>
                                <a href="/view-products">View Inventory</a>
                                <a href="/add-inventory">Add Product </a>
                                <a href="/view-inventory">View Product </a>
                              <a href="/login">Logout</a>
                            </div>
                          </div>
                    </ul>
                </div>
            </div>
        </div>
    </section>

</header>


<br>
<p style="text-align: center; font-size: xx-large;font-family:'Times New Roman', Times, serif;color: black"><b>Welcome, {{first_name}}</b></p>
<br>
<form>
    <div style="text-align:center;">

        <div>
            <a href="/add-product">
                <button type="button" class="badge text-wrap"
                        style="width: 15rem;height: 5rem; border: 2px solid black; font-size: 1.3em; color: darkblue"> Add Product
                </button>
            </a>
        </div>

        <br>

        <div>
            <a href="/view-products">
                <button type="button" class="badge text-wrap"
                        style="width: 15rem;height: 5rem; border: 2px solid black; font-size: 1.3em; color: darkblue"> View Product
                </button>
            </a>
        </div>

        <br>

        <div>
            <a href="/add-inventory">
                <button type="button" class="badge text-wrap"
                        style="width: 15rem;height: 5rem; border: 2px solid black; font-size: 1.3em;color: darkblue"> Add Inventory
                </button>
            </a>
        </div>

        <br>

        <div>
            <a href="/view-inventory">
                <button type="button" class="badge text-wrap"
                        style="width: 15rem;height: 5rem; border: 2px solid black; font-size: 1.3em;color: darkblue"> View Inventory
                </button>
            </a>
        </div>

        <br>
    </div>

</form>

<div class="hamburger-menu">
  <input id="menu__toggle" type="checkbox" />
  <label class="menu__btn" for="menu__toggle">
    <span></span>
  </label>

  <ul class="menu__box">
    <li><a class="menu__item" href="/dashboard">Home</a></li>
    <li><a class="menu__item" href="#">About</a></li>

  </ul>
</div>

</body>
</html>