<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="css/UI.css">
	<title>Reset Password</title>
</head>

<body>
	<div class="container">
		<form id="form" class="form">
			<fieldset>
				<legend>Reset Password</legend>

				<div class="form-control">
                    <label>Password</label>
                    <input type="password" id="password" />
                    <i class="fas fa-check-circle"></i>
                    <i class="fas fa-exclamation-circle"></i>
                    <small>Error message</small>
                </div>

                <div class="form-control">
                    <label>Confirm Pasword</label>
                    <input type="password"  id="password2" />
                    <i class="fas fa-check-circle"></i>
                    <i class="fas fa-exclamation-circle"></i>
                    <small>Error message</small>
                </div>
			</fieldset><br>
			<button>Submit</button>
            <script type="text/javascript" src="js/User_Reset_Validations.js"></script>
		</form>
	</div>
</body>

</html>