<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="{% static 'css/UI.css' %}">
	<title>Reset Password</title>
</head>

<body>
	<div class="container">
		<form id="form" class="form" action="/reset-password-api/" method="POST">
			<fieldset>
				<legend>Reset Password</legend>

				<div class="form-control">
                    <label>Password</label>
                    <input type="password" id="password" name="user_password"/>
                    <i class="fas fa-check-circle"></i>
                    <i class="fas fa-exclamation-circle"></i>
                    <small>Error message</small>
                </div>

                <div class="form-control">
                    <label>Confirm Pasword</label>
                    <input type="password"  id="password2" name="user_password_cnf"/>
                    <i class="fas fa-check-circle"></i>
                    <i class="fas fa-exclamation-circle"></i>
                    <small>Error message</small>
                </div>
			</fieldset><br>
			<button type="submit">Submit</button>
<!--            <script type="text/javascript" src="{% static 'js/User_Reset_Validations.js' %}"></script>-->
		</form>
	</div>
</body>

</html>